@font-face {
  font-family: my-font;
  src: url("./fonts/THEBOLDFONT.ttf");
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: left;
    font-size: 24px;
  }

  #logincard {
      position: relative;
      display: inline;
      justify-content: center;
      background-color: #363636;
      margin: auto;
      padding: 0;
      width: 305px;
      height: 433px;
      box-shadow: 6px 7px 12px rgba(0, 0, 0, 0.4);
      z-index: 1;
  }

  #title {
    font-size: 50px;
    text-align: center;
    pointer-events: none;
    user-select: none;
    padding: 0;
    color: #e0d921;
    font-family: "my-font";
  }

  #subtitle {
    font-size: 14.4px;
    text-align: center;
    pointer-events: none;
    user-select: none;
    padding: 0px;
    margin-top: -4.5vh;
    margin-bottom: 4vh;
    color: #a0a0a0;
    font-family: "my-font";
  }

  .attfield {
    font-family: "my-font";
    pointer-events: none;
    user-select: none;
    color: #e7e7e7;
    padding: 2vh;
    padding-top: 6vh;
    margin-left: 6vh;
    margin-top: 2vh;
    margin-bottom: 50px;
  }

  .attinput{
    border: 1px solid #5e5e5e;
    border-radius: 8px;
    background-color: #5e5e5e;
    color: white;
    padding: 1.5vh;
    outline: none;
    outline-width: 0.5px;
    margin-left: 8vh;
    margin-bottom: 4vh;
    transition: background-color 0.4s;
  }

  .attinput:hover {
    filter: brightness(80%)
  }

  .attscreen:hover {
    filter: saturate(70%) brightness(90%);
  }

  .attscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 8vh;
    border: 6px solid #5e5e5e;
    border-radius: 8px;
    color: #e7e7e7;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 6vh;
    padding-left: 6vh;
    font-family: "my-font";
    user-select: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  #loginButton {
    background-color: #5e5e5e;
    font-size: 32px;
    user-select: none;
  }
  
  #logoutButton {
    border: 6px solid #5e5e5e;
    border-radius: 8px;
    background-color: #5e5e5e;
    color: #e7e7e7;
    font-family: "my-font";
    font-size: 20px;
    margin-top: 182px;
    margin-left: 46px;
    cursor: pointer;
    transform: rotate(90deg);
  }
  
  #loadingScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    opacity: 0.8;
    transition: opacity 0.5s ease;
    background-color: #353535;
    backdrop-filter: blur(20px);
    z-index: 2;
  }

  #loadtext {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 60px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    text-align: center;
    color: #fff837;
    font-family: "my-font";
    animation: text-color 6s ease-in-out infinite;
  }

  @keyframes text-color {
    100%,
    0% {
      stroke: #fffa7a;
    }
    20% {
      stroke: #e0d921;
    }
    40% {
      stroke: #fff9b3
    }
    80% {
      stroke: #fff36a
    }
    100% {
      stroke: #fff70b;
    }
  }

  .circular {
    animation: rotate 2s linear infinite;
    height: 100px;
    transform-origin: center center;
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    display: block;
  }
  
  .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  
  @keyframes color {
    100%,
    0% {
      stroke: #fffa7a;
    }
    20% {
      stroke: #e0d921;
    }
    40% {
      stroke: #fff9b3
    }
    80% {
      stroke: #fff36a
    }
    100% {
      stroke: #fff70b;
    }
  }

  #sideHeader {
    width: 78px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 122px;
    background-color: #e0d921;
    align-items: center;
    display: flex;
    justify-content: center;
  }
    
  #sideHeader p {
    transform: rotate(90deg);
    position: absolute;
    top: 27px;
    left: 5.8px;
    font-family: "my-font";
    font-size: 38px;
    color: #1c1c1c;
  }

  #icon {
    top: 22px;
    left: 40px;
    position: absolute;
    height: 120px;
    width: 120px;
    z-index: 1;
    border: 2px solid #e0d921;
    border-radius: 2px;
  }

  #button1 {
    top: 38%;
    left: 130px;
    position: absolute;
    height: 50px;
    width: auto;
    z-index: 1;
    cursor: pointer;
  }

  #button2 {
    top: 50%;
    left: 136px;
    position: absolute;
    height: 55px;
    width: auto;
    z-index: 1;
    cursor: pointer;
  }

  #button3 {
    top: 62%;
    left: 127px;
    position: absolute;
    height: 48px;
    width: auto;
    z-index: 1;
    cursor: pointer;
  }

  #shop, #library {
    font-size: 50px;
    font-family: "my-font";
    top: 200px;
    left: 400px;
    color: white;
    position: absolute;
  }

  #homepage {
    font-size: 50px;
    font-family: "my-font";
    color: #e0d921;
    margin-left: 135px;
    margin-top: -70px;
    position: absolute;
  }

  #abtus {
    font-size: 27px;
    font-family: "my-font";
    text-align: center;
    color: #ffffff;
    margin-top: 65px;
    position: absolute;
  }

  #container {
    width: 500px;
    height: 225px;
    padding: 10px;
    margin-left: 450px;
    margin-top: -135px;
    background-color: #353535;
  }

  #homepage2 {
    font-size: 50px;
    font-family: "my-font";
    color: #e0d921;
    margin-left: 105px;
    margin-top: -70px;
    position: absolute;
  }

  #patchVer {
    font-size: 27px;
    font-family: "my-font";
    color: #e0d921;
    margin-top: -10px;
    position: absolute;
  }

  #patchNote {
    font-size: 27px;
    font-family: "my-font";
    text-align: center;
    color: #ffffff;
    margin-top: 53px;
    margin-left: 40px;
    position: absolute;
  }

  #container2 {
    width: 500px;
    height: 225px;
    padding: 10px;
    margin-left: 450px;
    margin-top: 105px;
    background-color: #353535;
  }